@*@model IEnumerable<Vidly1.Models.Movie>*@
@{
    ViewBag.Title = "Movies";
}
<h2>Movies</h2>
@*@if (!Model.Any())
    {
        <p>We don't have any movies yet.</p>
    }
    else
    { }*@
<div class="container">
    <br />
    <table id="movies" class="table table-bordered table-responsive table-hover table-striped">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var movie in @Model)
            {
                <tr>
                    <td>
                        @movie.MovieName
                    </td>
                    <td>
                        @movie.Genre.GenreName
                    </td>
                </tr>
            }*@
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#movies').DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "movieName",
                    },
                    {
                        data: "genre.genreName"
                    }
                ]
            });
        });
    </script>
}
